# [dbo].[KhoanChi]

In [0]:
USE [MyMoney]
GO

In [0]:
/****** Object:  Table [dbo].[KhoanChi]    Script Date: 04/12/2021 2:41:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanChi](
	[MakC] [int] IDENTITY(1,1) NOT NULL,
	[TenKC] [nvarchar](50) NOT NULL,
	[SoTienKC] [float] NOT NULL,
	[NgayChi] [date] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaTK] [varchar](50) NOT NULL,
	[MaLC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KhoanChi] PRIMARY KEY CLUSTERED 
(
	[MakC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[KhoanThu]

In [0]:
/****** Object:  Table [dbo].[KhoanThu]    Script Date: 04/12/2021 2:41:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanThu](
	[MaKT] [int] IDENTITY(1,1) NOT NULL,
	[TenKT] [nvarchar](50) NOT NULL,
	[SoTienKT] [float] NOT NULL,
	[NgayThu] [date] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
	[MaTK] [varchar](50) NOT NULL,
	[MaLT] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KhoanThu] PRIMARY KEY CLUSTERED 
(
	[MaKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[LoaiChi]

In [0]:
/****** Object:  Table [dbo].[LoaiChi]    Script Date: 04/12/2021 2:41:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiChi](
	[MaLC] [varchar](50) NOT NULL,
	[TenLC] [nvarchar](50) NOT NULL,
	[HinhLC] [nvarchar](150) NULL,
	[MaTK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiChi] PRIMARY KEY CLUSTERED 
(
	[MaLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[LoaiThu]

In [0]:
/****** Object:  Table [dbo].[LoaiThu]    Script Date: 04/12/2021 2:41:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThu](
	[MaLT] [varchar](50) NOT NULL,
	[TenLT] [nvarchar](50) NOT NULL,
	[HinhLT] [nvarchar](150) NULL,
	[MaTK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiThu] PRIMARY KEY CLUSTERED 
(
	[MaLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TaiKhoan]

In [0]:
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 04/12/2021 2:41:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[TietKiem]

In [0]:
/****** Object:  Table [dbo].[TietKiem]    Script Date: 04/12/2021 2:41:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TietKiem](
	[MaTKiem] [varchar](50) NOT NULL,
	[TenTKiem] [nvarchar](50) NOT NULL,
	[ThoiHan] [int] NOT NULL,
	[NganHang] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[MaTK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TietKiem] PRIMARY KEY CLUSTERED 
(
	[MaTKiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[KhoanChi]

In [0]:
SET IDENTITY_INSERT [dbo].[KhoanChi] ON 
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (5, N'Tiền nhà tháng 1
', 1300000, CAST(N'2020-01-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (39, N'Tiền nhà tháng 2', 1300000, CAST(N'2020-02-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (40, N'Tiền nhà tháng 3', 1300000, CAST(N'2020-03-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (41, N'Tiền nhà tháng 4', 1300000, CAST(N'2020-04-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (42, N'Tiền nhà tháng 5', 1300000, CAST(N'2020-05-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (43, N'Tiền nhà tháng 6', 1300000, CAST(N'2020-06-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (44, N'Tiền nhà tháng 7', 1300000, CAST(N'2020-07-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (45, N'Tiền nhà tháng 8', 1300000, CAST(N'2020-08-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (46, N'Tiền nhà tháng 9', 1300000, CAST(N'2020-09-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (47, N'Tiền nhà tháng 10', 1300000, CAST(N'2020-10-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (48, N'Tiền nhà tháng 11', 1300000, CAST(N'2020-11-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (49, N'Tiền nhà tháng 12', 1300000, CAST(N'2020-12-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (52, N'Tiền nhà tháng 1', 1300000, CAST(N'2021-01-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (56, N'Tiền nhà tháng 2
', 1300000, CAST(N'2021-02-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (57, N'Tiền nhà tháng 3
', 1300000, CAST(N'2021-03-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (58, N'Tiền nhà tháng 4
', 1300000, CAST(N'2021-04-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (59, N'Tiền nhà tháng 5
', 1300000, CAST(N'2021-05-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (60, N'Tiền nhà tháng 6
', 1300000, CAST(N'2021-06-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (61, N'Tiền nhà tháng 7
', 1300000, CAST(N'2021-07-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (62, N'Tiền nhà tháng 8
', 1300000, CAST(N'2021-08-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (63, N'Tiền nhà tháng 9
', 1300000, CAST(N'2021-09-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (64, N'Tiền nhà tháng 10
', 1300000, CAST(N'2021-10-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (65, N'Tiền nhà tháng 11
', 1300000, CAST(N'2021-11-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (66, N'Tiền điện tháng 3', 200000, CAST(N'2020-03-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (67, N'Tiền điện tháng 4', 231000, CAST(N'2020-04-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (68, N'Tiền điện tháng 5', 190000, CAST(N'2020-05-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (69, N'Tiền điện tháng 6', 197000, CAST(N'2020-06-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (70, N'Tiền điện tháng 7', 192000, CAST(N'2020-07-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (71, N'Tiền điện tháng 8', 187000, CAST(N'2020-08-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (72, N'Tiền điện tháng 9', 182000, CAST(N'2020-09-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (73, N'Tiền điện tháng 10', 177000, CAST(N'2020-10-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (74, N'Tiền điện tháng 11', 172000, CAST(N'2020-11-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (75, N'Tiền điện tháng 12', 167000, CAST(N'2020-12-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (76, N'Tiền điện tháng 1', 162000, CAST(N'2021-01-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (77, N'Tiền điện tháng 2', 190000, CAST(N'2021-02-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (78, N'Tiền điện tháng 3', 197000, CAST(N'2021-03-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (79, N'Tiền điện tháng 4', 192000, CAST(N'2021-04-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (80, N'Tiền điện tháng 5', 187000, CAST(N'2021-05-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (81, N'Tiền điện tháng 6', 182000, CAST(N'2021-06-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (82, N'Tiền điện tháng 7', 172000, CAST(N'2021-07-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (83, N'Tiền điện tháng 8', 167000, CAST(N'2021-08-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (84, N'Tiền điện tháng 9', 162000, CAST(N'2021-09-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (85, N'Tiền điện tháng 10', 190000, CAST(N'2021-10-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (86, N'Tiền điện tháng 11', 196000, CAST(N'2021-11-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (87, N'Tiền điện tháng 12', 207500, CAST(N'2021-12-08' AS Date), NULL, N'lamlt', N'TienDien')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (88, N'Tiền nước tháng 3', 50000, CAST(N'2020-03-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (89, N'Tiền nước tháng 3', 50000, CAST(N'2020-03-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (90, N'Tiền nước tháng 4', 50000, CAST(N'2020-04-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (91, N'Tiền nước tháng 5', 50000, CAST(N'2020-05-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (92, N'Tiền nước tháng 6', 50000, CAST(N'2020-06-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (93, N'Tiền nước tháng 7', 50000, CAST(N'2020-07-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (94, N'Tiền nước tháng 8', 50000, CAST(N'2020-08-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (95, N'Tiền nước tháng 9', 50000, CAST(N'2020-09-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (96, N'Tiền nước tháng 10', 50000, CAST(N'2020-10-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (97, N'Tiền nước tháng 11', 50000, CAST(N'2020-11-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (98, N'Tiền nước tháng 12', 50000, CAST(N'2020-12-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (99, N'Tiền nước tháng 1', 50000, CAST(N'2021-01-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (100, N'Tiền nước tháng 2', 50000, CAST(N'2021-02-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (101, N'Tiền nước tháng 3', 50000, CAST(N'2021-03-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (102, N'Tiền nước tháng 4', 50000, CAST(N'2021-04-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (103, N'Tiền nước tháng 5', 50000, CAST(N'2021-05-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (104, N'Tiền nước tháng 6', 50000, CAST(N'2021-06-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (105, N'Tiền nước tháng 7', 50000, CAST(N'2021-07-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (106, N'Tiền nước tháng 8', 50000, CAST(N'2021-08-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (107, N'Tiền nước tháng 9', 50000, CAST(N'2021-09-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (108, N'Tiền nước tháng 10', 50000, CAST(N'2021-10-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (109, N'Tiền nước tháng 11', 50000, CAST(N'2021-11-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (110, N'Tiền nước tháng 12', 50000, CAST(N'2021-12-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (111, N'Tiền nhà tháng 12', 1300000, CAST(N'2020-12-01' AS Date), NULL, N'lamlt', N'ThueNha')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (112, N'Tiền mạng tháng 9', 270000, CAST(N'2021-09-15' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (113, N'Tiền mạng tháng 10', 270000, CAST(N'2021-10-15' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (114, N'Tiền mạng tháng 11', 270000, CAST(N'2021-11-15' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (115, N'Tiền mạng tháng 12', 270000, CAST(N'2021-12-15' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (116, N'Đổ xăng', 50000, CAST(N'2021-09-08' AS Date), NULL, N'lamlt', N'DiChuyen')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (117, N'Đổ xăng', 50000, CAST(N'2021-09-08' AS Date), NULL, N'lamlt', N'DiChuyen')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (118, N'Đổ xăng', 35000, CAST(N'2021-09-14' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (119, N'Đổ xăng', 70000, CAST(N'2021-09-20' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (120, N'Đổ xăng', 20000, CAST(N'2021-09-26' AS Date), NULL, N'lamlt', N'Mang')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (121, N'Đổ xăng', 40000, CAST(N'2021-10-02' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (122, N'Đổ xăng', 32500, CAST(N'2021-10-08' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (123, N'Đổ xăng', 29000, CAST(N'2021-10-14' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (124, N'Đổ xăng', 20000, CAST(N'2021-10-20' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (125, N'Đổ xăng', 40000, CAST(N'2021-10-26' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (126, N'Đổ xăng', 32500, CAST(N'2021-11-01' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (127, N'Đổ xăng', 29000, CAST(N'2021-11-07' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (128, N'Đổ xăng', 35250, CAST(N'2021-11-13' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (129, N'Đổ xăng', 37200, CAST(N'2021-11-19' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (130, N'Đổ xăng', 39150, CAST(N'2021-11-25' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (131, N'Đổ xăng', 41100, CAST(N'2021-12-01' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (132, N'Đổ xăng', 43050, CAST(N'2021-12-07' AS Date), NULL, N'lamlt', N'TienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (134, N'Đi chợ', 50000, CAST(N'2021-09-08' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (224, N'Đi chợ', 35000, CAST(N'2021-09-09' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (225, N'Đi chợ', 70000, CAST(N'2021-09-10' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (226, N'Đi chợ', 20000, CAST(N'2021-09-11' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (227, N'Đi chợ', 40000, CAST(N'2021-09-12' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (228, N'Đi chợ', 32500, CAST(N'2021-09-13' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (229, N'Đi chợ', 29000, CAST(N'2021-09-14' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (230, N'Đi chợ', 20000, CAST(N'2021-09-15' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (231, N'Đi chợ', 40000, CAST(N'2021-09-16' AS Date), NULL, N'lamlt', N'AnUong')
GO

In [0]:
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (232, N'Đi chợ', 32500, CAST(N'2021-09-17' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (233, N'Đi chợ', 29000, CAST(N'2021-09-18' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (234, N'Đi chợ', 35250, CAST(N'2021-09-19' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (235, N'Đi chợ', 37200, CAST(N'2021-09-20' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (236, N'Đi chợ', 39150, CAST(N'2021-09-21' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (237, N'Đi chợ', 41100, CAST(N'2021-09-22' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (238, N'Đi chợ', 43050, CAST(N'2021-09-23' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (239, N'Đi chợ', 45000, CAST(N'2021-09-24' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (240, N'Đi chợ', 46950, CAST(N'2021-09-25' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (241, N'Đi chợ', 48900, CAST(N'2021-09-26' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (242, N'Đi chợ', 50850, CAST(N'2021-09-27' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (243, N'Đi chợ', 52800, CAST(N'2021-09-28' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (244, N'Đi chợ', 54750, CAST(N'2021-09-29' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (245, N'Đi chợ', 56700, CAST(N'2021-09-30' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (246, N'Đi chợ', 58650, CAST(N'2021-10-01' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (247, N'Đi chợ', 60600, CAST(N'2021-10-02' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (248, N'Đi chợ', 62550, CAST(N'2021-10-03' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (249, N'Đi chợ', 64500, CAST(N'2021-10-04' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (250, N'Đi chợ', 70000, CAST(N'2021-10-05' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (251, N'Đi chợ', 20000, CAST(N'2021-10-06' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (252, N'Đi chợ', 46950, CAST(N'2021-10-07' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (253, N'Đi chợ', 48900, CAST(N'2021-10-08' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (254, N'Đi chợ', 50850, CAST(N'2021-10-09' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (255, N'Đi chợ', 52800, CAST(N'2021-10-10' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (256, N'Đi chợ', 54750, CAST(N'2021-10-11' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (257, N'Đi chợ', 56700, CAST(N'2021-10-12' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (258, N'Đi chợ', 58650, CAST(N'2021-10-13' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (259, N'Đi chợ', 60600, CAST(N'2021-10-14' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (260, N'Đi chợ', 46950, CAST(N'2021-10-15' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (261, N'Đi chợ', 48900, CAST(N'2021-10-16' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (262, N'Đi chợ', 50850, CAST(N'2021-10-17' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (263, N'Đi chợ', 52800, CAST(N'2021-10-18' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (264, N'Đi chợ', 54750, CAST(N'2021-10-19' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (265, N'Đi chợ', 56700, CAST(N'2021-10-20' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (266, N'Đi chợ', 58650, CAST(N'2021-10-21' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (267, N'Đi chợ', 60600, CAST(N'2021-10-22' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (268, N'Đi chợ', 62550, CAST(N'2021-10-23' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (269, N'Đi chợ', 64500, CAST(N'2021-10-24' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (270, N'Đi chợ', 66450, CAST(N'2021-10-25' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (271, N'Đi chợ', 54750, CAST(N'2021-10-26' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (272, N'Đi chợ', 56700, CAST(N'2021-10-27' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (273, N'Đi chợ', 58650, CAST(N'2021-10-28' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (274, N'Đi chợ', 60600, CAST(N'2021-10-29' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (275, N'Đi chợ', 62550, CAST(N'2021-10-30' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (276, N'Đi chợ', 64500, CAST(N'2021-10-31' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (277, N'Đi chợ', 66450, CAST(N'2021-11-01' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (278, N'Đi chợ', 68400, CAST(N'2021-11-02' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (279, N'Đi chợ', 70350, CAST(N'2021-11-03' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (280, N'Đi chợ', 72300, CAST(N'2021-11-04' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (281, N'Đi chợ', 68400, CAST(N'2021-11-05' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (282, N'Đi chợ', 68400, CAST(N'2021-11-06' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (283, N'Đi chợ', 58650, CAST(N'2021-11-07' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (284, N'Đi chợ', 60600, CAST(N'2021-11-08' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (285, N'Đi chợ', 62550, CAST(N'2021-11-09' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (286, N'Đi chợ', 64500, CAST(N'2021-11-10' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (287, N'Đi chợ', 66450, CAST(N'2021-11-11' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (288, N'Đi chợ', 68400, CAST(N'2021-11-12' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (289, N'Đi chợ', 70350, CAST(N'2021-11-13' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (290, N'Đi chợ', 72300, CAST(N'2021-11-14' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (291, N'Đi chợ', 70350, CAST(N'2021-11-15' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (292, N'Đi chợ', 72300, CAST(N'2021-11-16' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (293, N'Đi chợ', 68400, CAST(N'2021-11-17' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (294, N'Đi chợ', 68400, CAST(N'2021-11-18' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (295, N'Đi chợ', 72300, CAST(N'2021-11-19' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (296, N'Đi chợ', 68400, CAST(N'2021-11-20' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (297, N'Đi chợ', 68400, CAST(N'2021-11-21' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (298, N'Đi chợ', 58650, CAST(N'2021-11-22' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (299, N'Đi chợ', 60600, CAST(N'2021-11-23' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (300, N'Đi chợ', 62550, CAST(N'2021-11-24' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (301, N'Đi chợ', 72300, CAST(N'2021-11-25' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (302, N'Đi chợ', 70350, CAST(N'2021-11-26' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (303, N'Đi chợ', 72300, CAST(N'2021-11-27' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (304, N'Đi chợ', 68400, CAST(N'2021-11-28' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (305, N'Đi chợ', 72300, CAST(N'2021-11-29' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (306, N'Đi chợ', 70350, CAST(N'2021-11-30' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (307, N'Đi chợ', 72300, CAST(N'2021-12-01' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (308, N'Đi chợ', 68400, CAST(N'2021-12-02' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (309, N'Đi chợ', 72300, CAST(N'2021-12-03' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (310, N'Đi chợ', 68400, CAST(N'2021-12-04' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (311, N'Đi chợ', 68400, CAST(N'2021-12-05' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (312, N'Đi chợ', 58650, CAST(N'2021-12-06' AS Date), NULL, N'lamlt', N'AnUong')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (313, N'Ăn sáng', 20000, CAST(N'2021-03-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (314, N'Ăn cả ngày', 25000, CAST(N'2021-03-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (315, N'Ăn cả ngày', 20000, CAST(N'2021-03-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (316, N'Ăn cả ngày', 25000, CAST(N'2021-03-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (317, N'Ăn cả ngày', 20000, CAST(N'2021-03-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (318, N'Ăn cả ngày', 25000, CAST(N'2021-03-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (319, N'Ăn cả ngày', 30000, CAST(N'2021-03-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (320, N'Ăn cả ngày', 35000, CAST(N'2021-03-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (321, N'Ăn cả ngày', 40000, CAST(N'2021-03-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (322, N'Ăn cả ngày', 45000, CAST(N'2021-03-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (323, N'Ăn cả ngày', 50000, CAST(N'2021-03-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (324, N'Ăn cả ngày', 55000, CAST(N'2021-03-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (325, N'Ăn cả ngày', 25000, CAST(N'2021-03-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (326, N'Ăn cả ngày', 20000, CAST(N'2021-03-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (327, N'Ăn cả ngày', 25000, CAST(N'2021-03-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (328, N'Ăn cả ngày', 30000, CAST(N'2021-03-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (329, N'Ăn cả ngày', 25000, CAST(N'2021-03-31' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (330, N'Ăn cả ngày', 20000, CAST(N'2021-04-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (331, N'Ăn cả ngày', 25000, CAST(N'2021-04-02' AS Date), NULL, N'thaopn', N'An')
GO

In [0]:
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (332, N'Ăn cả ngày', 30000, CAST(N'2021-04-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (333, N'Ăn cả ngày', 25000, CAST(N'2021-04-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (334, N'Ăn cả ngày', 20000, CAST(N'2021-04-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (335, N'Ăn cả ngày', 25000, CAST(N'2021-04-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (336, N'Ăn cả ngày', 30000, CAST(N'2021-04-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (337, N'Ăn cả ngày', 25000, CAST(N'2021-04-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (338, N'Ăn cả ngày', 20000, CAST(N'2021-04-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (339, N'Ăn cả ngày', 25000, CAST(N'2021-04-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (340, N'Ăn cả ngày', 30000, CAST(N'2021-04-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (341, N'Ăn cả ngày', 25000, CAST(N'2021-04-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (342, N'Ăn cả ngày', 20000, CAST(N'2021-04-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (343, N'Ăn cả ngày', 25000, CAST(N'2021-04-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (344, N'Ăn cả ngày', 30000, CAST(N'2021-04-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (345, N'Ăn cả ngày', 25000, CAST(N'2021-04-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (346, N'Ăn cả ngày', 20000, CAST(N'2021-04-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (347, N'Ăn cả ngày', 25000, CAST(N'2021-04-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (348, N'Ăn cả ngày', 30000, CAST(N'2021-04-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (349, N'Ăn cả ngày', 25000, CAST(N'2021-04-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (350, N'Ăn cả ngày', 20000, CAST(N'2021-04-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (351, N'Ăn cả ngày', 25000, CAST(N'2021-04-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (352, N'Ăn cả ngày', 30000, CAST(N'2021-04-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (353, N'Ăn cả ngày', 25000, CAST(N'2021-04-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (354, N'Ăn cả ngày', 20000, CAST(N'2021-04-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (355, N'Ăn cả ngày', 25000, CAST(N'2021-04-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (356, N'Ăn cả ngày', 30000, CAST(N'2021-04-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (357, N'Ăn cả ngày', 25000, CAST(N'2021-04-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (358, N'Ăn cả ngày', 20000, CAST(N'2021-04-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (359, N'Ăn cả ngày', 25000, CAST(N'2021-04-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (360, N'Ăn cả ngày', 30000, CAST(N'2021-05-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (361, N'Ăn cả ngày', 25000, CAST(N'2021-05-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (362, N'Ăn cả ngày', 30000, CAST(N'2021-05-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (363, N'Ăn cả ngày', 25000, CAST(N'2021-05-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (364, N'Ăn cả ngày', 20000, CAST(N'2021-05-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (365, N'Ăn cả ngày', 25000, CAST(N'2021-05-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (366, N'Ăn cả ngày', 30000, CAST(N'2021-05-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (367, N'Ăn cả ngày', 25000, CAST(N'2021-05-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (368, N'Ăn cả ngày', 20000, CAST(N'2021-05-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (369, N'Ăn cả ngày', 25000, CAST(N'2021-05-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (370, N'Ăn cả ngày', 30000, CAST(N'2021-05-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (371, N'Ăn cả ngày', 25000, CAST(N'2021-05-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (372, N'Ăn cả ngày', 20000, CAST(N'2021-05-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (373, N'Ăn cả ngày', 25000, CAST(N'2021-05-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (374, N'Ăn cả ngày', 30000, CAST(N'2021-05-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (375, N'Ăn cả ngày', 25000, CAST(N'2021-05-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (376, N'Ăn cả ngày', 64500, CAST(N'2021-05-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (377, N'Ăn cả ngày', 66450, CAST(N'2021-05-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (378, N'Ăn cả ngày', 68400, CAST(N'2021-05-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (379, N'Ăn cả ngày', 70350, CAST(N'2021-05-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (380, N'Ăn cả ngày', 72300, CAST(N'2021-05-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (381, N'Ăn cả ngày', 70350, CAST(N'2021-05-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (382, N'Ăn cả ngày', 72300, CAST(N'2021-05-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (383, N'Ăn cả ngày', 68400, CAST(N'2021-05-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (384, N'Ăn cả ngày', 68400, CAST(N'2021-05-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (385, N'Ăn cả ngày', 72300, CAST(N'2021-05-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (386, N'Ăn cả ngày', 68400, CAST(N'2021-05-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (387, N'Ăn cả ngày', 68400, CAST(N'2021-05-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (388, N'Ăn cả ngày', 58650, CAST(N'2021-05-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (389, N'Ăn cả ngày', 60600, CAST(N'2021-05-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (390, N'Ăn cả ngày', 62550, CAST(N'2021-05-31' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (391, N'Ăn cả ngày', 72300, CAST(N'2021-06-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (392, N'Ăn cả ngày', 70350, CAST(N'2021-06-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (393, N'Ăn cả ngày', 72300, CAST(N'2021-06-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (394, N'Ăn cả ngày', 68400, CAST(N'2021-06-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (395, N'Ăn cả ngày', 72300, CAST(N'2021-06-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (396, N'Ăn cả ngày', 70350, CAST(N'2021-06-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (397, N'Ăn cả ngày', 72300, CAST(N'2021-06-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (398, N'Ăn cả ngày', 68400, CAST(N'2021-06-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (399, N'Ăn cả ngày', 72300, CAST(N'2021-06-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (400, N'Ăn cả ngày', 68400, CAST(N'2021-06-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (401, N'Ăn cả ngày', 68400, CAST(N'2021-06-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (402, N'Ăn cả ngày', 58650, CAST(N'2021-06-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (403, N'Ăn cả ngày', 60600, CAST(N'2021-06-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (404, N'Ăn cả ngày', 62550, CAST(N'2021-06-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (405, N'Ăn cả ngày', 72300, CAST(N'2021-06-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (406, N'Ăn cả ngày', 70350, CAST(N'2021-06-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (407, N'Ăn cả ngày', 72300, CAST(N'2021-06-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (408, N'Ăn cả ngày', 30000, CAST(N'2021-06-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (409, N'Ăn cả ngày', 25000, CAST(N'2021-06-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (410, N'Ăn cả ngày', 20000, CAST(N'2021-06-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (411, N'Ăn cả ngày', 25000, CAST(N'2021-06-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (412, N'Ăn cả ngày', 30000, CAST(N'2021-06-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (413, N'Ăn cả ngày', 25000, CAST(N'2021-06-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (414, N'Ăn cả ngày', 30000, CAST(N'2021-06-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (415, N'Ăn cả ngày', 25000, CAST(N'2021-06-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (416, N'Ăn cả ngày', 20000, CAST(N'2021-06-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (417, N'Ăn cả ngày', 25000, CAST(N'2021-06-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (418, N'Ăn cả ngày', 30000, CAST(N'2021-06-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (419, N'Ăn cả ngày', 25000, CAST(N'2021-06-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (420, N'Ăn cả ngày', 20000, CAST(N'2021-06-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (421, N'Ăn cả ngày', 68400, CAST(N'2021-07-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (422, N'Ăn cả ngày', 58650, CAST(N'2021-07-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (423, N'Ăn cả ngày', 60600, CAST(N'2021-07-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (424, N'Ăn cả ngày', 62550, CAST(N'2021-07-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (425, N'Ăn cả ngày', 72300, CAST(N'2021-07-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (426, N'Ăn cả ngày', 70350, CAST(N'2021-07-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (427, N'Ăn cả ngày', 72300, CAST(N'2021-07-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (428, N'Ăn cả ngày', 30000, CAST(N'2021-07-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (429, N'Ăn cả ngày', 25000, CAST(N'2021-07-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (430, N'Ăn cả ngày', 20000, CAST(N'2021-07-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (431, N'Ăn cả ngày', 25000, CAST(N'2021-07-11' AS Date), NULL, N'thaopn', N'An')
GO

In [0]:
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (432, N'Ăn cả ngày', 30000, CAST(N'2021-07-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (433, N'Ăn cả ngày', 25000, CAST(N'2021-07-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (434, N'Ăn cả ngày', 30000, CAST(N'2021-07-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (435, N'Ăn cả ngày', 25000, CAST(N'2021-07-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (436, N'Ăn cả ngày', 20000, CAST(N'2021-07-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (437, N'Ăn cả ngày', 25000, CAST(N'2021-07-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (438, N'Ăn cả ngày', 30000, CAST(N'2021-07-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (439, N'Ăn cả ngày', 25000, CAST(N'2021-07-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (440, N'Ăn cả ngày', 20000, CAST(N'2021-07-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (441, N'Ăn cả ngày', 25000, CAST(N'2021-07-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (442, N'Ăn cả ngày', 20000, CAST(N'2021-07-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (443, N'Ăn cả ngày', 68400, CAST(N'2021-07-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (444, N'Ăn cả ngày', 58650, CAST(N'2021-07-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (445, N'Ăn cả ngày', 60600, CAST(N'2021-07-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (446, N'Ăn cả ngày', 62550, CAST(N'2021-07-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (447, N'Ăn cả ngày', 72300, CAST(N'2021-07-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (448, N'Ăn cả ngày', 70350, CAST(N'2021-07-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (449, N'Ăn cả ngày', 72300, CAST(N'2021-07-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (450, N'Ăn cả ngày', 30000, CAST(N'2021-07-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (451, N'Ăn cả ngày', 25000, CAST(N'2021-07-31' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (452, N'Ăn cả ngày', 20000, CAST(N'2021-08-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (453, N'Ăn cả ngày', 25000, CAST(N'2021-08-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (454, N'Ăn cả ngày', 30000, CAST(N'2021-08-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (455, N'Ăn cả ngày', 25000, CAST(N'2021-08-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (456, N'Ăn cả ngày', 30000, CAST(N'2021-08-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (457, N'Ăn cả ngày', 25000, CAST(N'2021-08-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (458, N'Ăn cả ngày', 30000, CAST(N'2021-08-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (459, N'Ăn cả ngày', 25000, CAST(N'2021-08-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (460, N'Ăn cả ngày', 20000, CAST(N'2021-08-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (461, N'Ăn cả ngày', 25000, CAST(N'2021-08-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (462, N'Ăn cả ngày', 30000, CAST(N'2021-08-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (463, N'Ăn cả ngày', 25000, CAST(N'2021-08-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (464, N'Ăn cả ngày', 20000, CAST(N'2021-08-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (465, N'Ăn cả ngày', 68400, CAST(N'2021-08-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (466, N'Ăn cả ngày', 58650, CAST(N'2021-08-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (467, N'Ăn cả ngày', 60600, CAST(N'2021-08-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (468, N'Ăn cả ngày', 62550, CAST(N'2021-08-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (469, N'Ăn cả ngày', 72300, CAST(N'2021-08-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (470, N'Ăn cả ngày', 70350, CAST(N'2021-08-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (471, N'Ăn cả ngày', 72300, CAST(N'2021-08-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (472, N'Ăn cả ngày', 30000, CAST(N'2021-08-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (473, N'Ăn cả ngày', 25000, CAST(N'2021-08-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (474, N'Ăn cả ngày', 20000, CAST(N'2021-08-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (475, N'Ăn cả ngày', 25000, CAST(N'2021-08-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (476, N'Ăn cả ngày', 30000, CAST(N'2021-08-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (477, N'Ăn cả ngày', 25000, CAST(N'2021-08-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (478, N'Ăn cả ngày', 30000, CAST(N'2021-08-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (479, N'Ăn cả ngày', 25000, CAST(N'2021-08-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (480, N'Ăn cả ngày', 20000, CAST(N'2021-08-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (481, N'Ăn cả ngày', 25000, CAST(N'2021-08-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (482, N'Ăn cả ngày', 30000, CAST(N'2021-08-31' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (483, N'Ăn cả ngày', 25000, CAST(N'2021-09-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (484, N'Ăn cả ngày', 20000, CAST(N'2021-09-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (485, N'Ăn cả ngày', 25000, CAST(N'2021-09-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (486, N'Ăn cả ngày', 20000, CAST(N'2021-09-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (487, N'Ăn cả ngày', 68400, CAST(N'2021-09-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (488, N'Ăn cả ngày', 58650, CAST(N'2021-09-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (489, N'Ăn cả ngày', 60600, CAST(N'2021-09-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (490, N'Ăn cả ngày', 62550, CAST(N'2021-09-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (491, N'Ăn cả ngày', 72300, CAST(N'2021-09-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (492, N'Ăn cả ngày', 70350, CAST(N'2021-09-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (493, N'Ăn cả ngày', 72300, CAST(N'2021-09-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (494, N'Ăn cả ngày', 30000, CAST(N'2021-09-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (495, N'Ăn cả ngày', 25000, CAST(N'2021-09-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (496, N'Ăn cả ngày', 20000, CAST(N'2021-09-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (497, N'Ăn cả ngày', 25000, CAST(N'2021-09-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (498, N'Ăn cả ngày', 30000, CAST(N'2021-09-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (499, N'Ăn cả ngày', 25000, CAST(N'2021-09-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (500, N'Ăn cả ngày', 30000, CAST(N'2021-09-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (501, N'Ăn cả ngày', 20000, CAST(N'2021-09-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (502, N'Ăn cả ngày', 25000, CAST(N'2021-09-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (503, N'Ăn cả ngày', 30000, CAST(N'2021-09-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (504, N'Ăn cả ngày', 25000, CAST(N'2021-09-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (505, N'Ăn cả ngày', 30000, CAST(N'2021-09-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (506, N'Ăn cả ngày', 25000, CAST(N'2021-09-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (507, N'Ăn cả ngày', 30000, CAST(N'2021-09-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (508, N'Ăn cả ngày', 25000, CAST(N'2021-09-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (509, N'Ăn cả ngày', 20000, CAST(N'2021-09-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (510, N'Ăn cả ngày', 25000, CAST(N'2021-09-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (511, N'Ăn cả ngày', 30000, CAST(N'2021-09-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (512, N'Ăn cả ngày', 25000, CAST(N'2021-09-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (513, N'Ăn cả ngày', 20000, CAST(N'2021-10-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (514, N'Ăn cả ngày', 68400, CAST(N'2021-10-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (515, N'Ăn cả ngày', 58650, CAST(N'2021-10-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (516, N'Ăn cả ngày', 60600, CAST(N'2021-10-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (517, N'Ăn cả ngày', 62550, CAST(N'2021-10-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (518, N'Ăn cả ngày', 72300, CAST(N'2021-10-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (519, N'Ăn cả ngày', 70350, CAST(N'2021-10-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (520, N'Ăn cả ngày', 72300, CAST(N'2021-10-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (521, N'Ăn cả ngày', 30000, CAST(N'2021-10-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (522, N'Ăn cả ngày', 25000, CAST(N'2021-10-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (523, N'Ăn cả ngày', 20000, CAST(N'2021-10-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (524, N'Ăn cả ngày', 25000, CAST(N'2021-10-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (525, N'Ăn cả ngày', 30000, CAST(N'2021-10-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (526, N'Ăn cả ngày', 25000, CAST(N'2021-10-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (527, N'Ăn cả ngày', 30000, CAST(N'2021-10-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (528, N'Ăn cả ngày', 25000, CAST(N'2021-10-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (529, N'Ăn cả ngày', 20000, CAST(N'2021-10-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (530, N'Ăn cả ngày', 25000, CAST(N'2021-10-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (531, N'Ăn cả ngày', 30000, CAST(N'2021-10-19' AS Date), NULL, N'thaopn', N'An')
GO

In [0]:
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (532, N'Ăn cả ngày', 25000, CAST(N'2021-10-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (533, N'Ăn cả ngày', 20000, CAST(N'2021-10-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (534, N'Ăn cả ngày', 25000, CAST(N'2021-10-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (535, N'Ăn cả ngày', 20000, CAST(N'2021-10-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (536, N'Ăn cả ngày', 68400, CAST(N'2021-10-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (537, N'Ăn cả ngày', 58650, CAST(N'2021-10-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (538, N'Ăn cả ngày', 60600, CAST(N'2021-10-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (539, N'Ăn cả ngày', 62550, CAST(N'2021-10-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (540, N'Ăn cả ngày', 72300, CAST(N'2021-10-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (541, N'Ăn cả ngày', 70350, CAST(N'2021-10-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (542, N'Ăn cả ngày', 72300, CAST(N'2021-10-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (543, N'Ăn cả ngày', 30000, CAST(N'2021-10-31' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (544, N'Ăn cả ngày', 25000, CAST(N'2021-11-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (545, N'Ăn cả ngày', 20000, CAST(N'2021-11-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (546, N'Ăn cả ngày', 25000, CAST(N'2021-11-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (547, N'Ăn cả ngày', 30000, CAST(N'2021-11-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (548, N'Ăn cả ngày', 25000, CAST(N'2021-11-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (549, N'Ăn cả ngày', 30000, CAST(N'2021-11-06' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (550, N'Ăn cả ngày', 25000, CAST(N'2021-11-07' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (551, N'Ăn cả ngày', 30000, CAST(N'2021-11-08' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (552, N'Ăn cả ngày', 25000, CAST(N'2021-11-09' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (553, N'Ăn cả ngày', 30000, CAST(N'2021-11-10' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (554, N'Ăn cả ngày', 25000, CAST(N'2021-11-11' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (555, N'Ăn cả ngày', 20000, CAST(N'2021-11-12' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (556, N'Ăn cả ngày', 25000, CAST(N'2021-11-13' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (557, N'Ăn cả ngày', 30000, CAST(N'2021-11-14' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (558, N'Ăn cả ngày', 25000, CAST(N'2021-11-15' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (559, N'Ăn cả ngày', 20000, CAST(N'2021-11-16' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (560, N'Ăn cả ngày', 68400, CAST(N'2021-11-17' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (561, N'Ăn cả ngày', 58650, CAST(N'2021-11-18' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (562, N'Ăn cả ngày', 60600, CAST(N'2021-11-19' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (563, N'Ăn cả ngày', 62550, CAST(N'2021-11-20' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (564, N'Ăn cả ngày', 72300, CAST(N'2021-11-21' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (565, N'Ăn cả ngày', 70350, CAST(N'2021-11-22' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (566, N'Ăn cả ngày', 72300, CAST(N'2021-11-23' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (567, N'Ăn cả ngày', 30000, CAST(N'2021-11-24' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (568, N'Ăn cả ngày', 25000, CAST(N'2021-11-25' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (569, N'Ăn cả ngày', 20000, CAST(N'2021-11-26' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (570, N'Ăn cả ngày', 25000, CAST(N'2021-11-27' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (571, N'Ăn cả ngày', 30000, CAST(N'2021-11-28' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (572, N'Ăn cả ngày', 20000, CAST(N'2021-11-29' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (573, N'Ăn cả ngày', 25000, CAST(N'2021-11-30' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (574, N'Ăn cả ngày', 30000, CAST(N'2021-12-01' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (575, N'Ăn cả ngày', 25000, CAST(N'2021-12-02' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (576, N'Ăn cả ngày', 20000, CAST(N'2021-12-03' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (577, N'Ăn cả ngày', 25000, CAST(N'2021-12-04' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (578, N'Ăn cả ngày', 20000, CAST(N'2021-12-05' AS Date), NULL, N'thaopn', N'An')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (579, N'Tiền điện nước tháng 4', 350000, CAST(N'2020-04-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (582, N'Tiền điện nước tháng 7', 250000, CAST(N'2020-07-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (583, N'Tiền điện nước tháng 8', 225000, CAST(N'2020-08-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (584, N'Tiền điện nước tháng 9', 320000, CAST(N'2020-09-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (585, N'Tiền điện nước tháng 10', 335000, CAST(N'2020-10-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (586, N'Tiền điện nước tháng 11', 370000, CAST(N'2020-11-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (587, N'Tiền điện nước tháng 12', 405000, CAST(N'2020-12-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (588, N'Tiền điện nước tháng 1', 440000, CAST(N'2021-01-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (589, N'Tiền điện nước tháng 2', 250000, CAST(N'2021-02-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (590, N'Tiền điện nước tháng 3', 225000, CAST(N'2021-03-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (591, N'Tiền điện nước tháng 4', 320000, CAST(N'2021-04-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (592, N'Tiền điện nước tháng 5', 335000, CAST(N'2021-05-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (593, N'Tiền điện nước tháng 6', 370000, CAST(N'2021-06-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (594, N'Tiền điện nước tháng 7', 335000, CAST(N'2021-07-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (595, N'Tiền điện nước tháng 8', 370000, CAST(N'2021-08-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (596, N'Tiền điện nước tháng 9', 405000, CAST(N'2021-09-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (597, N'Tiền điện nước tháng 10', 440000, CAST(N'2021-10-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (598, N'Tiền điện nước tháng 11', 250000, CAST(N'2021-11-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (599, N'Tiền điện nước tháng 12', 225000, CAST(N'2021-12-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (603, N'Tiền điện nước tháng 8', 225000, CAST(N'2020-08-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (604, N'Tiền điện nước tháng 9', 320000, CAST(N'2020-09-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (605, N'Tiền điện nước tháng 10', 335000, CAST(N'2020-10-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (606, N'Tiền điện nước tháng 11', 370000, CAST(N'2020-11-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (607, N'Tiền điện nước tháng 12', 405000, CAST(N'2020-12-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (608, N'Tiền điện nước tháng 1', 440000, CAST(N'2021-01-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (609, N'Tiền điện nước tháng 2', 250000, CAST(N'2021-02-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (610, N'Tiền điện nước tháng 3', 225000, CAST(N'2021-03-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (611, N'Tiền điện nước tháng 4', 320000, CAST(N'2021-04-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (612, N'Tiền điện nước tháng 5', 335000, CAST(N'2021-05-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (613, N'Tiền điện nước tháng 6', 370000, CAST(N'2021-06-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (614, N'Tiền điện nước tháng 7', 335000, CAST(N'2021-07-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (615, N'Tiền điện nước tháng 8', 370000, CAST(N'2021-08-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (616, N'Tiền điện nước tháng 9', 405000, CAST(N'2021-09-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (617, N'Tiền điện nước tháng 10', 440000, CAST(N'2021-10-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (618, N'Tiền điện nước tháng 11', 250000, CAST(N'2021-11-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (620, N'Tiền điện nước tháng 5', 250000, CAST(N'2020-05-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (622, N'Tiền điện nước tháng 7', 250000, CAST(N'2020-07-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (623, N'Tiền điện nước tháng 8', 225000, CAST(N'2020-08-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (624, N'Tiền điện nước tháng 9', 320000, CAST(N'2020-09-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (625, N'Tiền điện nước tháng 10', 335000, CAST(N'2020-10-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (626, N'Tiền điện nước tháng 11', 370000, CAST(N'2020-11-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (627, N'Tiền điện nước tháng 12', 405000, CAST(N'2020-12-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (628, N'Tiền điện nước tháng 1', 440000, CAST(N'2021-01-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (629, N'Tiền điện nước tháng 2', 250000, CAST(N'2021-02-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (630, N'Tiền điện nước tháng 3', 225000, CAST(N'2021-03-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (631, N'Tiền điện nước tháng 4', 320000, CAST(N'2021-04-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (632, N'Tiền điện nước tháng 5', 335000, CAST(N'2021-05-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (633, N'Tiền điện nước tháng 6', 370000, CAST(N'2021-06-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (634, N'Tiền điện nước tháng 7', 335000, CAST(N'2021-07-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (635, N'Tiền điện nước tháng 8', 370000, CAST(N'2021-08-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (636, N'Tiền điện nước tháng 9', 405000, CAST(N'2021-09-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (637, N'Tiền điện nước tháng 10', 440000, CAST(N'2021-10-13' AS Date), NULL, N'thaopn', N'DienNuoc')
INSERT [dbo].[KhoanChi] ([MakC], [TenKC], [SoTienKC], [NgayChi], [GhiChu], [MaTK], [MaLC]) VALUES (638, N'Tiền điện nước tháng 11', 250000, CAST(N'2021-11-13' AS Date), NULL, N'thaopn', N'DienNuoc')
GO

In [0]:
SET IDENTITY_INSERT [dbo].[KhoanChi] OFF
GO

# [dbo].[KhoanThu]

In [0]:
SET IDENTITY_INSERT [dbo].[KhoanThu] ON 
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (15, N'lương tháng 1', 2500000, CAST(N'2020-01-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (17, N'lương tháng 2', 2500000, CAST(N'2020-02-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (18, N'lương tháng 3', 2500000, CAST(N'2020-03-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (19, N'lương tháng 4', 2500000, CAST(N'2020-04-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (20, N'lương tháng 5', 2500000, CAST(N'2020-05-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (21, N'lương tháng 6', 2500000, CAST(N'2020-06-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (22, N'lương tháng 7', 2500000, CAST(N'2020-07-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (23, N'lương tháng 8', 2500000, CAST(N'2020-08-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (24, N'lương tháng 9', 2500000, CAST(N'2020-09-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (25, N'lương tháng 10', 2500000, CAST(N'2020-10-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (26, N'lương tháng 11', 2500000, CAST(N'2020-11-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (27, N'lương tháng 12', 2500000, CAST(N'2020-12-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (28, N'lương tháng 1', 2500000, CAST(N'2021-01-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (29, N'lương tháng 2', 2500000, CAST(N'2021-02-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (30, N'lương tháng 3', 2500000, CAST(N'2021-03-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (31, N'lương tháng 4', 2500000, CAST(N'2021-04-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (32, N'lương tháng 5', 2500000, CAST(N'2021-05-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (33, N'lương tháng 6', 2500000, CAST(N'2021-06-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (34, N'lương tháng 7', 2500000, CAST(N'2021-07-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (35, N'lương tháng 8', 2500000, CAST(N'2021-08-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (36, N'lương tháng 9', 2500000, CAST(N'2021-09-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (37, N'lương tháng 10', 2500000, CAST(N'2021-10-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (38, N'lương tháng 11', 2500000, CAST(N'2021-11-01' AS Date), NULL, N'lamlt', N'Luong')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (39, N'Lấy tiền từ bạn', 1000000, CAST(N'2021-11-03' AS Date), NULL, N'lamlt', N'ThuNo')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (40, N'Vay tiền bạn', 500000, CAST(N'2021-10-10' AS Date), NULL, N'lamlt', N'DiVay')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (41, N'lương tháng 6', 3000000, CAST(N'2020-06-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (42, N'lương tháng 7', 3000000, CAST(N'2020-07-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (43, N'lương tháng 8', 3000000, CAST(N'2020-08-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (44, N'lương tháng 9', 3000000, CAST(N'2020-09-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (45, N'lương tháng 10', 3000000, CAST(N'2020-10-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (46, N'lương tháng 11', 3000000, CAST(N'2020-11-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (47, N'lương tháng 12', 3000000, CAST(N'2020-12-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (48, N'lương tháng 1', 3000000, CAST(N'2021-01-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (49, N'lương tháng 2', 3000000, CAST(N'2021-02-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (50, N'lương tháng 3', 3000000, CAST(N'2021-03-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (51, N'lương tháng 4', 3000000, CAST(N'2021-04-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (52, N'lương tháng 5', 3000000, CAST(N'2021-05-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (53, N'lương tháng 6', 3000000, CAST(N'2021-06-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (54, N'lương tháng 7', 3000000, CAST(N'2021-07-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (55, N'lương tháng 8', 3000000, CAST(N'2021-08-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (56, N'lương tháng 9', 3000000, CAST(N'2021-09-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (57, N'lương tháng 10', 3000000, CAST(N'2021-10-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (58, N'lương tháng 11', 3000000, CAST(N'2021-11-01' AS Date), NULL, N'thaopn', N'TienThang')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (59, N'Mượn bạn', 300000, CAST(N'2021-10-05' AS Date), NULL, N'thaopn', N'Muon')
INSERT [dbo].[KhoanThu] ([MaKT], [TenKT], [SoTienKT], [NgayThu], [GhiChu], [MaTK], [MaLT]) VALUES (60, N'Làm thêm', 130000, CAST(N'2021-11-07' AS Date), NULL, N'lamlt', N'ThuNhapKhac')
SET IDENTITY_INSERT [dbo].[KhoanThu] OFF
GO

# [dbo].[LoaiChi]

In [0]:
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'An', N'Ăn uống', N'anUong.png', N'thaopn')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'AnUong', N'Ăn uống', N'anUong.png', N'lamlt')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'DiChuyen', N'Di chuyển', N'diChuyen.png', N'lamlt')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'DienNuoc', N'Tiền điện nước', N'hoaDon.png', N'thaopn')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'Mang', N'Mạng', N'hoaDon.png', N'lamlt')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'Phong', N'Tiền phòng trọ', N'thue nha.png', N'thaopn')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'TienDien', N'Tiền Điện', N'hoaDon.png', N'lamlt')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'TienNuoc', N'Tiền nước', N'hoaDon.png', N'lamlt')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'ThueNha', N'Thuê nhà', N'nha.png', N'lamlt')
INSERT [dbo].[LoaiChi] ([MaLC], [TenLC], [HinhLC], [MaTK]) VALUES (N'Xang', N'Tiền xăng', N'xang.png', N'thaopn')
GO

# [dbo].[LoaiThu]

In [0]:
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'DiVay', N'Đi vay', N'icons8-receive-cash-100.png', N'lamlt')
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'Luong', N'Lương', N'nhanLuong.png', N'lamlt')
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'Muon', N'Tiền mượn', N'muon_100.png', N'thaopn')
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'TienThang', N'Tiền tháng', N'nhanLuong.png', N'thaopn')
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'ThuLai', N'Thu lãi', N'phanTram_100.png', N'lamlt')
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'ThuNo', N'Thu nợ', N'ThuNo_100.png', N'lamlt')
INSERT [dbo].[LoaiThu] ([MaLT], [TenLT], [HinhLT], [MaTK]) VALUES (N'ThuNhapKhac', N'Thu nhập khác', N'thuNhapKhac.png', N'lamlt')
GO

# [dbo].[TaiKhoan]

In [0]:
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'chung', N'123456')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'lam', N'1234')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'lamlt', N'123456')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'lamlt1', N'123')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau]) VALUES (N'thaopn', N'12345')
GO

# [dbo].[TietKiem]

In [0]:
INSERT [dbo].[TietKiem] ([MaTKiem], [TenTKiem], [ThoiHan], [NganHang], [NgayBatDau], [NgayHetHan], [TrangThai], [MaTK]) VALUES (N'tietKiem1', N'Tiết kiệm mua xe mới', 24, N'Agribank', CAST(N'2021-01-01' AS Date), CAST(N'2021-12-03' AS Date), 0, N'lamlt')
GO

# [FK_KhoanChi_LoaiChi]

In [0]:
ALTER TABLE [dbo].[KhoanChi]  WITH CHECK ADD  CONSTRAINT [FK_KhoanChi_LoaiChi] FOREIGN KEY([MaLC])
REFERENCES [dbo].[LoaiChi] ([MaLC])
GO
ALTER TABLE [dbo].[KhoanChi] CHECK CONSTRAINT [FK_KhoanChi_LoaiChi]
GO

# [FK_KhoanChi_TaiKhoan]

In [0]:
ALTER TABLE [dbo].[KhoanChi]  WITH CHECK ADD  CONSTRAINT [FK_KhoanChi_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[KhoanChi] CHECK CONSTRAINT [FK_KhoanChi_TaiKhoan]
GO

# [FK_KhoanThu_LoaiThu]

In [0]:
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanThu_LoaiThu] FOREIGN KEY([MaLT])
REFERENCES [dbo].[LoaiThu] ([MaLT])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KhoanThu_LoaiThu]
GO

# [FK_KhoanThu_TaiKhoan]

In [0]:
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanThu_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KhoanThu_TaiKhoan]
GO

# [FK_LoaiChi_TaiKhoan]

In [0]:
ALTER TABLE [dbo].[LoaiChi]  WITH CHECK ADD  CONSTRAINT [FK_LoaiChi_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[LoaiChi] CHECK CONSTRAINT [FK_LoaiChi_TaiKhoan]
GO

# [FK_LoaiThu_TaiKhoan]

In [0]:
ALTER TABLE [dbo].[LoaiThu]  WITH CHECK ADD  CONSTRAINT [FK_LoaiThu_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[LoaiThu] CHECK CONSTRAINT [FK_LoaiThu_TaiKhoan]
GO

# [FK_TietKiem_TaiKhoan]

In [0]:
ALTER TABLE [dbo].[TietKiem]  WITH CHECK ADD  CONSTRAINT [FK_TietKiem_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoan])
GO
ALTER TABLE [dbo].[TietKiem] CHECK CONSTRAINT [FK_TietKiem_TaiKhoan]
GO

# [dbo].[sp_ChiNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_ChiNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ChiNam](@TenTK VARCHAR(50), @NamChi int)
AS BEGIN
	SELECT 
			lc.TenLC TenLoaiChi,
			SUM(kc.SoTienKC) TongChi,
			MIN(kc.SoTienKC) ThapNhat,
			MAX(kc.SoTienKC) CaoNhat,
			AVG(kc.SoTienKC) TrungBinh,
			MONTH (kc.NgayChi) ThangChi,
			YEAR(kc.NgayChi) NamChi
	FROM [dbo].[LoaiChi] lc
			JOIN  [dbo].[KhoanChi] kc ON lc.MaLC = kc.MaLC
			JOIN [dbo].[TaiKhoan] tk ON tk.TaiKhoan = kc.MaTK
	WHERE kc.MaTK = @TenTK AND YEAR(kc.NgayChi)= @NamChi
	GROUP BY lc.TenLC , kc.NgayChi
	ORDER BY ThangChi desc, NamChi desc
	

END
GO

# [dbo].[sp_ChiThangNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_ChiThangNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ChiThangNam](@TenTK VARCHAR(50), @ThangChi int, @NamChi int)
AS BEGIN
	SELECT 
			lc.TenLC TenLoaiChi,
			SUM(kc.SoTienKC) TongChi,
			MIN(kc.SoTienKC) ThapNhat,
			MAX(kc.SoTienKC) CaoNhat,
			AVG(kc.SoTienKC) TrungBinh
		
			
	FROM [dbo].[LoaiChi] lc
			JOIN  [dbo].[KhoanChi] kc ON lc.MaLC = kc.MaLC
			JOIN [dbo].[TaiKhoan] tk ON tk.TaiKhoan = kc.MaTK
	WHERE kc.MaTK = @TenTK AND MONTH (kc.NgayChi) = @ThangChi AND YEAR(kc.NgayChi)= @NamChi
	GROUP BY lc.TenLC	
	
	

END
GO

# [dbo].[sp_TongChiNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_TongChiNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongChiNam](@TenTK VARCHAR(50),  @NamChi int)
AS BEGIN
	SELECT 
			
			SUM(kc.SoTienKC) TongChi
	FROM [dbo].[LoaiChi] lc
			JOIN  [dbo].[KhoanChi] kc ON lc.MaLC = kc.MaLC
	WHERE kc.MaTK = @TenTK AND YEAR(kc.NgayChi)= @NamChi
	

END
GO

# [dbo].[sp_TongChiThangNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_TongChiThangNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongChiThangNam](@TenTK VARCHAR(50), @ThangChi int, @NamChi int)
AS BEGIN
	SELECT 
			
			SUM(kc.SoTienKC) TongChi
	FROM [dbo].[LoaiChi] lc
			JOIN  [dbo].[KhoanChi] kc ON lc.MaLC = kc.MaLC
	WHERE kc.MaTK = @TenTK AND MONTH (kc.NgayChi) = @ThangChi AND YEAR(kc.NgayChi)= @NamChi
	

END
GO

# [dbo].[sp_TongThuNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_TongThuNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongThuNam](@TenTK VARCHAR(50), @NamThu int)
AS BEGIN
	SELECT 
			
			SUM(kt.SoTienKT) TongThu
	FROM  [dbo].[LoaiThu] lt
			JOIN  [dbo].[KhoanThu] kt ON lt.MaLT= kt.MaLT
	WHERE kt.MaTK = @TenTK AND YEAR(kt.NgayThu)= @NamThu
	

END
GO

# [dbo].[sp_TongThuThangNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_TongThuThangNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongThuThangNam](@TenTK VARCHAR(50), @ThangThu int, @NamThu int)
AS BEGIN
	SELECT 
			
			SUM(kt.SoTienKT) TongThu
	FROM  [dbo].[LoaiThu] lt
			JOIN  [dbo].[KhoanThu] kt ON lt.MaLT= kt.MaLT
	WHERE kt.MaTK = @TenTK AND MONTH (kt.NgayThu) = @ThangThu AND YEAR(kt.NgayThu)= @NamThu
	

END
GO

# [dbo].[sp_ThuNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_ThuNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThuNam](@TenTK VARCHAR(50), @NamThu int)
AS BEGIN
	SELECT 
			lt.TenLT TenLoaiThu,
			SUM(kt.SoTienKT) TongThu,
			MIN(kt.SoTienKT) ThapNhat,
			MAX(kt.SoTienKT) CaoNhat,
			AVG(kt.SoTienKT) TrungBinh,
			MONTH (kt.NgayThu) ThangThu,
			YEAR(kt.NgayThu) NamThu
	FROM [dbo].[LoaiThu] lt 
			JOIN [dbo].[KhoanThu] kt ON lt.MaLT = kt.MaLT
			JOIN [dbo].[TaiKhoan] tk ON tk.TaiKhoan = kt.MaTK
	WHERE kt.MaTK = @TenTK  AND YEAR(kt.NgayThu)= @NamThu
	GROUP BY lt.TenLT , kt.NgayThu
	ORDER BY ThangThu desc, NamThu desc
	

END
GO

# [dbo].[sp_ThuThangNam]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_ThuThangNam]    Script Date: 04/12/2021 2:41:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThuThangNam](@TenTK VARCHAR(50), @ThangThu int, @NamThu int)
AS BEGIN
	SELECT 
			lt.TenLT TenLoaiThu,
			SUM(kt.SoTienKT) TongThu,
			MIN(kt.SoTienKT) ThapNhat,
			MAX(kt.SoTienKT) CaoNhat,
			AVG(kt.SoTienKT) TrungBinh
			
	FROM [dbo].[LoaiThu] lt 
			JOIN [dbo].[KhoanThu] kt ON lt.MaLT = kt.MaLT
			JOIN [dbo].[TaiKhoan] tk ON tk.TaiKhoan = kt.MaTK
	WHERE kt.MaTK = @TenTK AND MONTH (kt.NgayThu) = @ThangThu AND YEAR(kt.NgayThu)= @NamThu
	GROUP BY lt.TenLT 
	
	

END
GO